.ag-format-container {
    width: 100%;
    margin: 0 auto;
  }



@media (max-width: 992px) {
    .ag-photo-gallery_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .ag-photo-gallery_list {
        grid-template-columns: repeat(1, 1fr);
    }
}

  
  .gallery_item {
    background: #000;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
    cursor: pointer;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 36px;
    position: relative;
    margin-bottom: 30px;
  }
  .gallery_item_down{
  transform: translateY(50px);
}
  .gallery_item__wide {
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }
  .gallery_item__middle {
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }
  .gallery_item__narrow {
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  .gallery_figure {
    display: flex;
        width: 100%;
        margin: 0;
        -webkit-transition: all 0.5s ease-out 0s;
        -moz-transition: all 0.5s ease-out 0s;
        -ms-transition: all 0.5s ease-out 0s;
        -o-transition: all 0.5s ease-out 0s;
        transition: all 0.5s ease-out 0s;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
  .photo-gallery_img {
    height: 100%;
    width: 100%;
  
    -o-object-fit: cover;
    object-fit: cover;
  
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
  }
  .gallery_figure img{
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
  .gallery_figure img:hover {
    opacity: 0.5;
    z-index: -9;

}
.gallery_figure:hover img.plus {
    opacity: 1;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
  img.plus {
    position: absolute;
    width: 30px;
    height: 30px;
    filter: invert(1);
    opacity: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-photo-gallery_list {
      grid-gap: 10px;
    }
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }

  
.text{
    display:none;
    }

    
    
    button.read-more{
      user-select:none;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      cursor:pointer;
      border:none;
      padding:8px;
      font-size:20px;
      background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
      color:white;
      font-family:cursive;
      box-sizing:border-box;
    }
    